.FormItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.FormItem label {
  margin-bottom: 5px;
  font-weight: 500;
}
.FormItem input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.FormItem input:focus {
  border-color: #6051e6;
  outline: none;
}
.SelectItem select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.SelectItem select:focus {
  border-color: #6051e6;
  outline: none;
}
.ErrorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
