.LayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ContentWrapper {
  display: flex;
  flex: 1;
}

.MainContent {
  flex: 1;
  padding: 24px;
  padding-left: 80px;
  background-color: #f5f7fa;
  min-height: calc(100vh - 81px);
}
