.Logo {
  width: fit-content;
  height: fit-content;
  background-color: rgb(96, 81, 230);
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.FormRegister {
  width: 100%;
}
.FormHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.FormHeader p {
  margin-bottom: 10px;
}
.FormButton {
  width: 100%;
  display: flex;
  text-decoration: none;
  border: 1px solid #ccc9c9;
  width: fit-content;
  border-radius: 6px;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: white;
}
